@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-size:cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background: red;
}

.logo {
    height: 85px;  
    width: auto;
    object-fit: contain;
    margin-right: 20px;
    vertical-align: middle;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1 em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
} 

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-box {
  width: 380px;
  padding: 40px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.auth-box button {
  width: 100%;
  padding: 12px;
  background: #162938;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.error-text {
  color: red;
  font-size: 0.85em;
}

.toggle-text {
  margin-top: 10px;
  text-align: center;
}

.toggle-text span {
  cursor: pointer;
  font-weight: bold;
  color: #162938;
}